<!-- <table>
  <tbody>
    <tr>
      <td id=0 {{action "selectBox" 0}}></td>
      <td id=1 {{action "selectBox" 1}}></td>
      <td id=2 {{action "selectBox" 2}}></td>
    </tr>
    <tr>
      <td id=3 {{action "selectBox" 3}}></td>
      <td id=4 {{action "selectBox" 4}}></td>
      <td id=5 {{action "selectBox" 5}}></td>
    </tr>

    <tr>
      <td id=6 {{action "selectBox" 6}}></td>
      <td id=7 {{action "selectBox" 7}}></td>
      <td id=8 {{action "selectBox" 8}}></td>
    </tr>
  </tbody>
</table> -->
